.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://source.unsplash.com/1600x900/?cat,cute');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
}


.hero {
  text-align: center;
  padding: 50px;
  background: rgba(244, 244, 249, 0.9);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin: 20px;
}

@media (max-width: 768px) {
  .hero {
    padding: 30px;
  }
  
  .hero h1 {
    font-size: 2rem;
  }
  
  .hero p {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 60px;
    max-width: 800px;
  }
}


.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: black;
}

.hero p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #0073e6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hero button:hover {
  background-color:#005bb5;
}
